.main {
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 120px;
  min-height: 100vh;
  background-color: #f1f4f9;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.outer-interaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-arrow {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.btn-arrow path {
  transition: fill 0.4s ease;
}
.btn-arrow:hover path {
  fill: #002cfb;
}

.table-container {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px #e9edf3;
}

.table-row {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 1.2fr 2fr 3fr 7fr 5fr 2fr 10fr;
  justify-items: start;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-top: 1px solid #eaf0fa;
  min-height: 48px;
}

.table-row:hover {
  background-color: #d4dff32b;
}

.table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  text-align: center;
  justify-content: center;
  color: #122945;
}

.table-cell:last-child {
  justify-self: end;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.grade-inner {
  font-weight: 400;
  color: #ea1a4f;
}

.list-pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inner-data {
  margin-top: 10px;
  display: flex;
  gap: 10pxS;
}

@media (max-width: 1440px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .outer-interaction {
    flex-direction: column;
    gap: 10px;
  }

  .left-inner,
  .right-inner {
    width: 100%;
    text-align: center;
  }

  .table-cell {
    min-width: 100px;
    font-size: 14px;
  }
}
